<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td width="40%">John</td>
                        <td width="45%">mary@example.com</td>
                        <td width="10%">
                            <a th:href="@{/admin/view}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <a th:href="@{/admin/edit}">
                                <span class="glyphicon glyphicon-wrench"></span>
                            </a>
                            <a th:href="@{/admin/delete}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td width="40%">Mary</td>
                        <td width="45%">mary@example.com</td>
                        <td width="10%">
                            <a th:href="@{/admin/view}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <a th:href="@{/admin/edit}">
                                <span class="glyphicon glyphicon-wrench"></span>
                            </a>
                            <a th:href="@{/admin/delete}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td width="40%">July</td>
                        <td width="45%">july@example.com</td>
                        <td width="10%">
                            <a th:href="@{/admin/view}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <a th:href="@{/admin/edit}">
                                <span class="glyphicon glyphicon-wrench"></span>
                            </a>
                            <a th:href="@{/admin/delete}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>