<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Spring Security Tutorial</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <form th:action="@{/user/registration}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="submit">Go To Registration</button>
        </form>

        <div class="container">
            <div class="row">
                <img th:src="@{images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo"/>
                <div class="col-md-6 col-md-offset-3">
                    <div align="center" th:if="${param.error}">
                        <p style="font-size: 20; color: #FF1C19;">Username or Password invalid, please verify</p>
                    </div>
                    <form th:action="@{/login}" method="POST" class="form-signin">
                        <h3 class="form-signin-heading" th:text="Welcome"></h3>
                        <br/>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label class="validation-message">Username</label>
                                <input type="text" name="username" placeholder="Username"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label class="validation-message">Password</label>
                                <input type="password" name="password" placeholder="Password"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>