<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registration Form</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form th:action="@{/}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
        </form>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form autocomplete="off" action="/user/registration"
                          method="post" class="form-horizontal"
                          role="form">
                        <h2>Registration Form</h2>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <label class="validation-message">First Name</label>
                                <input type="text" name="firstName" placeholder="First Name"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <label class="validation-message">Last Name</label>
                                <input type="text" name="lastName" placeholder="Last Name"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <label class="validation-message">Username</label>
                                <input type="text" name="username" placeholder="Username"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <label class="validation-message">Password</label>
                                <input type="password" name="password" placeholder="Password"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Register User</button>
                            </div>
                        </div>

                        <span th:utext="${successMessage}"></span>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>